@using SimpleWebApp.Models;
@model DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="IncrementPrayersCountBy" asp-route-number="1" method="post" >
    <button class="btn btn-default" type="submit">Prayer</button>
</form>

<form asp-controller="Home" asp-action="IncrementTestimonyCountBy" asp-route-number="1" method="post">
    <button class="btn btn-default" type="submit">Testimony</button>
</form>

<form asp-controller="Home" asp-action="IncrementGospelCountBy" asp-route-number="1" method="post">
    <button class="btn btn-default" type="submit">Gospel</button>
</form>

    @*<form action="/Movies/Edit/7" method="post">

        <a asp-controller="Home" asp-action="IncrementSharesCountBy" class="btn">I Shared!</a>
    </form>*@
    <br />
    <p>Shares: @Model.NumberOfShares</p>
